* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

#container {
  display: flex;
}

#sidebar {
  background: #1e293b;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

#logo {
  display: flex;
}

#logo h3 {
  color: #cbd5e1;
  font-size: 1.5rem;
  letter-spacing: 2.5px;
}

#sidebar a {
  display: flex;
  text-decoration: none;
  color: #cbd5e1;
  font-size: 1.5rem;
}

#nav-section {
  margin-top: 2em;
}

#nav-section :nth-child(7) {
  margin-top: 2em;
}

.toggle-alert {
  color: #ffff;
  background: red;
  border-radius: 40%;
}
