* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body,
html {
  min-height: 100vh;
}

#container {
  display: flex;
}

#sidebar {
  background: #1e293b;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

#logo {
  display: flex;
}

#logo h3 {
  color: #cbd5e1;
  font-size: 1.5rem;
  letter-spacing: 2.5px;
}

#sidebar a {
  display: flex;
  text-decoration: none;
  color: #cbd5e1;
  font-size: 1.5rem;
  margin-top: 20px;
}

#nav-section {
  margin-top: 2em;
}

#nav-section :nth-child(7) {
  margin-top: 2em;
}

.toggle-alert {
  width: 12px;
  height: 12px;
  background: rgb(255, 0, 0);
  border-radius: 50%;
}

.icon-bell {
  margin-right: 1em;
  position: relative;
  top: 8px;
}

/* main content in body */
form {
  /* border: 2px solid #1e293b5f; */
  background: #94a3b8;
  height: fit-content;
  border-radius: 50px;
  padding-left: 10px;
  padding-top: 5px;
}

#profile-nav {
  padding: 1em 2em;
  box-shadow: 1px 1px 5px #1e293baf;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 75.2px);
}

input {
  border: none;
  background: #94a3b8;
  color: #ffff;
}

form {
  grid-column: 1 / 5;
  min-width: 220px;
  max-width: 1248px;
}

.profile-btn {
  margin: 0 10px;
}

#profile-panel {
  grid-column: 7;
  display: flex;
}

#post-panel {
  display: inline-flex;
  grid-row: 2;
  grid-column: 1 / 9;
}

#post-upload {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 10px;
  gap: 5px;
  height: fit-content;
}

.profile-pic {
  margin-right: 1em;
  border-radius: 50%;
}

.profile-btn {
  padding: 4px 12px;
  border-radius: 50px;
  border: none;
  background-color: #1e293b;
  color: #ffff;
  font-weight: 400;
}

#projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

#projects-heading {
  margin: 30px 0 0 30px;
}

.project-card {
  width: 300px;
  height: 150px;
  font-size: 12px;
  margin: 30px;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 15px 105px 30px;
  grid-template-columns: 225px 75px;
  box-shadow: 2px 2px 2px 2px #1e293b86;
}

.project-name {
  margin: 5px 0 5px 5px;
  grid-row: 1;
  grid-column: 1;
}

.project-description {
  margin: 5px 0 5px 5px;
  grid-row: 2;
  grid-column: 1 / 2;
}

.card-toggles {
  grid-row: 3;
  grid-column: 2;
}

.btn {
  border: none;
  background: none;
}

#a-t-container {
  display: flex;
}

#announcement-head {
  margin-left: 30px;
}

#announcement-card {
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #1e293b86;
  display: flex;
  flex-direction: column;
  margin: 30px;
  max-width: 300px;
}

.announcement {
  margin: 15px;
}

#trend-head {
  margin: 0 0 30px 460px;
}

#trending {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #1e293b86;
  margin-left: 115px;
  padding-bottom: 20px;
  width: 750px;
}

.trends {
  padding-left: 15px;
}
